@use "../../partials/variables" as v;

.section {
  padding: v.$vertical-padding-section 0;
  width: v.$section-width;
}

.heading {
  padding-bottom: v.$vertical-padding-section-heading;
}

.form-and-icons {
  display: flex;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
