@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  width: 100%;
  padding: v.$vertical-spacing-section 0;
  background-color: purple;
}

.content-wrapper {
  @include m.content-wrapper-alignment;
}

.heading {
  display: flex;
  align-self: flex-start;
  padding-bottom: v.$vertical-spacing-section-heading;
}

.form-and-icons {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
