@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.label {
  position: absolute;
  left: 1rem;
  color: rgb(64, 64, 64);
  font-size: 1.1rem;
  cursor: text;
  user-select: none;
  transform: translateY(-50%);
  transition: top 100ms ease, font-size 100ms ease;
}

.label-input {
  top: 50%;
}

.label-textarea {
  top: 9%;
}

.label-active {
  font-size: 0.8rem;
  top: 0.8rem;
}

.field {
  width: 35rem;
  font-size: 1.1rem;
  padding: 1.1rem 1rem 0rem 1rem;
  outline: none;
  border: none;
  border-radius: v.$border-rounded-small;
  background-color: rgb(192, 192, 192);
  @include m.box-shadow-standard;
}

.field-input {
  height: 3rem;
}

.field-textarea {
  height: 15rem;
  padding: 1.4rem 1rem 0 1rem;
  resize: none;
}

@media (max-width: 1024px) {
  .field {
    width: 40rem;
    min-width: 100%;
  }
}
