.marquee-container {
  position: relative;
  // half of the total width of every testimonial-card + gaps
  width: 136rem;
  overflow: hidden;
  padding: 10px;

  &:hover {
    .marquee {
      animation-play-state: paused;
    }
  }
}

.marquee {
  display: flex;
  gap: 2rem;
  animation: scroll 48s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}
