@use "../../partials/variables" as v;

.marquee-container {
  position: relative;
  // half of the total width of every testimonial-card + gaps
  width: 238rem;
  overflow: hidden;
  padding: 10px 0;

  &:hover {
    .marquee {
      animation-play-state: paused;
    }
  }
}

.marquee {
  display: flex;
  gap: 2rem;
  animation: scroll 84s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 1279px) {
  .marquee-container {
    transform: scale(0.9);
  }
}

@media (max-width: 1023px) {
  .marquee-container {
    transform: scale(0.8);
  }
}

@media (max-width: v.$screen-width-small) {
  .marquee-container {
    transform: scale(0.6);
    margin-top: -40px;
  }
}
