.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image {
  object-fit: cover;
  // object-position: 0 -200px;
}

.text-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 8%;
  transform: translate(0, -50%);
  gap: 1rem;
}

.heading {
  font-size: 2rem;
  color: white;
  opacity: 0;
  z-index: 10;

  transition: 2000ms opacity ease;
}

.heading-active {
  opacity: 1;
}

.delayed-text {
  opacity: 0;
  transition: 1000ms 1000ms opacity ease;
}

.delayed-text-active {
  opacity: 1;
}

.button {
  opacity: 0;
  transition: 1000ms 2000ms opacity ease;
}

.button-active {
  opacity: 1;
}
