// sizes
$content-width: 85%;
$screen-width-small: 550px;

// spacing
$vertical-spacing-section: 12rem;
$vertical-spacing-section-heading: 0.8rem;

// borders
$border-rounded-small: 8px;
$border-rounded-large: 20px;

// text
$line-height-paragraph: 1.75rem;
$paragraph-size-small: 0.9rem;
$heading-size-small: 1.3rem;

// animations
$transition-speed-standard: 300ms;
