// sizes
$content-width: 85%;

// spacing
$vertical-padding-section: 2rem;
$vertical-padding-section-heading: 0.8rem;

// borders
$border-rounded-small: 8px;
$border-rounded-large: 20px;

// animations
$transition-speed-standard: 300ms;
