@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  width: 100%;
  padding: v.$vertical-spacing-section 0;
  background-color: turquoise;
  @include m.wavy-divider;
  margin-bottom: -50px;
}

.content-wrapper {
  @include m.content-wrapper-alignment;
}

.heading {
  padding-bottom: v.$vertical-spacing-section-heading;
  justify-self: flex-start;
  align-self: flex-start;
}

.faq {
  display: flex;
  gap: 0.75rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
