@use "../../partials/variables" as v;

.testimonials-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background: linear-gradient(225deg, #ffffff 0%, #d7e1ec 94%);
}

.testimonials-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
  gap: 2rem;
  padding: 0 1rem;

  &:last-child {
    padding-bottom: 7rem;
  }
}

.main-heading {
  font-size: 2.5rem;
}

.subheading {
  font-size: 2.175rem;
  margin-bottom: 6rem;
}

.row {
  display: flex;
  gap: 2rem;

  &:last-child {
    padding-bottom: 10rem;
  }
}

.small-font {
  font-size: 0.9rem;
}

@media (max-width: 1650px) {
  .testimonials-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .testimonials-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: v.$screen-width-small) {
  .testimonials-article {
    padding-top: 9rem;
    // very unideal way of adjusting the height of the article (which is a consequence of choosing to use transform: scale on testimonials-section to change the size of each testimonial card). A better approach would be to let the card handle its own sizing dynamically, but this must be revisted since the same testimonial-card component is being used in a marquee.
    height: 6250px;
  }
  .testimonials-section {
    transform-origin: top;
    transform: scale(0.8);
  }
  .main-heading {
    font-size: 1.5rem;
  }

  .subheading {
    font-size: 1.33rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 480px) {
  .testimonials-article {
    height: 5500px;
  }

  .testimonials-section {
    transform: scale(0.7);
  }
}

@media (max-width: 400px) {
  .testimonials-article {
    height: 4760px;
  }

  .testimonials-section {
    transform: scale(0.6);
  }
}

@media (max-width: 340px) {
  .testimonials-article {
    height: 4680px;
  }

  .testimonials-section {
    transform: scale(0.59);
  }
}
