@use "../../partials/variables" as v;

.button {
  height: 2.5rem;
  width: 7.5rem;
  border: none;
  border-radius: v.$border-rounded;
  color: white;
  background-color: rgb(24, 24, 24);
  cursor: pointer;
}
