@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.button {
  height: 3rem;
  width: 9rem;
  border: none;
  border-radius: v.$border-rounded-small;
  color: white;
  background-color: rgb(30, 40, 40);
  @include m.box-shadow-large;
  cursor: pointer;
}
