@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.button {
  height: 3rem;
  width: max-content;
  min-width: 9rem;
  padding: 0 1rem;
  text-align: center;
  border-radius: v.$border-rounded-small;
  border: none;
  outline: none;
  background-color: v.$button-color;
  color: white;
  @include m.box-shadow-large;
  cursor: pointer;

  transition: background-color v.$transition-speed-standard ease;

  &:hover {
    background-color: v.$button-color-dark;
  }
}

@media (max-width: v.$screen-width-small) {
  .button {
    background-color: v.$button-color-light;
    &:hover {
      background-color: v.$button-color;
    }
  }
}
