@use "../../partials/mixins" as m;

.link {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: max-content;
  @include m.border-bottom-animation-ltr;

  &:hover {
    cursor: pointer;
  }
}

.link-hidden {
  @include m.hidden-link;
}
