@use "../../partials/variables" as v;

.swiper {
  width: 500px;
  height: 500px;
  margin-left: 0 !important;
  margin-right: 0 !important;

  &:hover {
    cursor: grab;
  }
}

.swiper-slide {
  position: relative;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    opacity: 0.5 !important;
    background: white !important;
  }
  .swiper-pagination-bullet-active {
    opacity: 1 !important;
  }
}

.swiper-button-prev {
  color: white !important;
  &::after {
    content: "";
    font-size: 2rem !important;
  }
}

.swiper-button-next {
  color: white !important;

  &::after {
    content: "";
    font-size: 2rem !important;
  }
}

@media (max-width: 767px) {
  .swiper {
    width: 80vw;
    height: 80vw;
  }
}

@media (max-width: v.$screen-width-small) {
  .swiper {
    width: v.$content-width-mobile;
    height: v.$content-width-mobile;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }
  }

  .swiper-button-prev {
    color: white !important;
    &::after {
      content: "";
      font-size: 1rem !important;
    }
  }

  .swiper-button-next {
    color: white !important;

    &::after {
      content: "";
      font-size: 1rem !important;
    }
  }
}
