@use "../../partials/variables" as v;

.accordion {
  width: 35rem;
  background-color: pink;
  border-radius: v.$border-rounded;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  background-color: pink;
  border: none;
  cursor: pointer;
  user-select: none;
}

.content {
  position: relative;
  max-height: 0;
  padding: 0 1rem;
  transition: max-height 300ms ease, padding 300ms ease;
}

.content-expanded {
  max-height: 80px;
  padding: 0 1rem 1rem 1rem;
}
