@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.accordion {
  width: 35rem;
  background-color: pink;
  border-radius: v.$border-rounded-small;
  @include m.box-shadow-standard;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  background-color: pink;
  border: none;
  text-transform: none;
  cursor: pointer;
  user-select: none;
}

.icon {
  transition: transform v.$transition-speed-standard ease;
}

.icon-rotated {
  transform: rotate(180deg);
}

.content {
  position: relative;
  max-height: 0;
  padding: 0 1rem;
  transition: max-height v.$transition-speed-standard ease,
    padding v.$transition-speed-standard ease;
}

.content-expanded {
  max-height: 168px;
  padding: 0 1rem 1rem 1rem;
}
