@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 20rem;
  width: 32rem;
  padding: 2rem;
  border-radius: v.$border-rounded-large;
  // background-color: pink;
  @include m.box-shadow-standard;
  flex-shrink: 0;
}

.header-and-rating {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  gap: 1rem;
}

.name {
  font-weight: bold;
  padding-top: 0.5rem;
}

.personal-title {
  color: v.$button-color-dark;
}

.rating {
  padding-top: 0.5rem;
}

.quote-text {
  padding: 0.25rem 1.75rem;
}

.quote-closed {
  float: right;
}
