@use "../../partials/variables" as v;

.menu {
  position: fixed;
  width: 0;
  max-width: v.$screen-width-small;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.4);

  transition: width 500ms ease;
}

.menu-enter-active {
  width: 100vw;
}

.menu-enter-done {
  width: 100vw;
}

.menu-exit-active {
  width: 0;
}
