@use "../../partials/variables" as v;

.section {
  padding: v.$vertical-padding-section 0;
  background-color: red;
}

.content-wrapper {
  width: v.$content-width;
  margin: auto;
}

.image-container {
  position: relative;
  width: 780px;
  height: 360px;
  border-radius: v.$border-rounded-large;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: 0 -150px;
  // transform: scale(1.2);
}

.text-highlight {
  color: blue;
}
