@use "../../partials/variables" as v;

.svg-container {
  position: relative;
  width: 40px;
  height: 40px;
  &:hover {
    .note-svg {
      top: 25px;
      left: 26px;
      transition: top v.$transition-speed-standard ease,
        left v.$transition-speed-standard ease;
    }
  }
}

.staff-svg {
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
}

.note-svg {
  position: absolute;
  left: 3px;
  top: 6px;
  transition: top v.$transition-speed-standard ease,
    left v.$transition-speed-standard ease;
  z-index: 100;
  transform: scale(0.9);
}
