@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  padding: v.$vertical-spacing-section 0;
  background-color: gray;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: v.$content-width;
  margin: auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.image-container {
  position: relative;
  width: 420px;
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  @include m.box-shadow-large;
  border-radius: v.$border-rounded-large;
}

// for p1 image
// .image {
//   object-fit: cover;
//   transform: translate(-5%, -5%) scale(2);
// }

// for p2 image
.image {
  object-fit: cover;
  transform: translate(-10%) scale(1.2);
}
