@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  padding: v.$vertical-spacing-section 0;
  background-image: url("/about-me-background.png");
  background-repeat: no-repeat;
  color: v.$text-color;
  @include m.wavy-divider;
  margin-top: -50px;
}

.content-wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: v.$content-width;
  margin: auto;
}

.greeting {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  margin-right: 8rem;
}

.text {
  display: flex;
  flex-direction: column;
  // width: 33%;
  width: 80%;
  text-align: justify;
}

.heading {
  padding-bottom: v.$vertical-spacing-section-heading;
  text-align: start;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paragraph-text {
  line-height: v.$line-height-paragraph;
}

.image-container {
  position: relative;
  width: 420px;
  height: 600px;
  overflow: hidden;
  // flex-shrink: 0;
  @include m.box-shadow-large;
  border-radius: v.$border-rounded-large;
}

.image {
  object-fit: cover;
  transform: translate(-10%) scale(1.2);
}
