@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  padding: v.$vertical-spacing-section 0;
  background-image: url("/about-me.png");
  background-repeat: no-repeat;
  background-color: black;
  color: rgb(217, 217, 217);
  @include m.wavy-divider;
  margin-top: -50px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18rem;
  width: v.$content-width;
  margin: auto;
}

.greeting {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  margin-right: 8rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33%;
  text-align: end;
}

.image-container {
  position: relative;
  width: 420px;
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  @include m.box-shadow-large;
  border-radius: v.$border-rounded-large;
}

.image {
  object-fit: cover;
  transform: translate(-10%) scale(1.2);
}
