@use "../../partials/variables" as v;

.section {
  width: 100%;
  padding: v.$vertical-spacing-section 0;
  background-color: teal;
}

.content-wrapper {
  width: v.$content-width;
  margin: auto;
}

.heading {
  margin-bottom: v.$vertical-spacing-section-heading;
}
