@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.section {
  width: 100%;
  padding: v.$vertical-spacing-section 0;
  margin-top: -72px;
  @include m.wavy-divider;
  background-color: black;
  color: v.$text-color;
}

.content-wrapper {
  width: v.$content-width;
  margin: auto;
}

.heading {
  margin-bottom: v.$vertical-spacing-section-heading;
}
