@use "../../partials/variables" as v;
@use "../../partials/mixins" as m;

.resume {
  position: relative;
  border-radius: v.$border-rounded-large;
  overflow: hidden;
  @include m.box-shadow-large;
}

.image {
  object-fit: cover;
}

@media (min-width: 767px) {
  .resume {
    height: calc(2000px * 0.48);
    width: calc(1545px * 0.48);
  }
}

@media (min-width: 1280px) {
  .resume {
    height: calc(2000px * 0.6);
    width: calc(1545px * 0.6);
  }
}
